.page-title-block.page-header {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.page-header__img.wp-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.page-title-block.page-header:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(9, 0, 34, .95) 0%, rgba(72, 25, 108, 0.5) 100%);
    z-index: 2;

}

.page-title-block.page-header .fixed-container {
    z-index: 3;
    position: relative;
}

.page-title-block.page-header .fixed-container {
    z-index: 3;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.page-header h1.page-title {
    font-size: 35px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .page-title-block.page-header {
        height: max-content;
        overflow: hidden;
        position: relative;
    }
}